//Breakpoints
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;

// Colors
$color-lightest: #FFFBF4;
$color-light: #BAA685;
$color-medium: #795233;
$color-dark: #514539;
$color-pink: #FF6FC2;
$color-green: #97A828;

//Font Family
$primary-font: 'Merriweather', serif;
$secondary-font: 'Lora', serif;

//Font sizes

$h1-font-size: 48px;
$h1-letter-spacing: -1.5px;

$h2-font-size: 32px;

$h3-font-size: 28px;

$body-font-size: 18px;
$subtitle-font-size: 24px;

// Spacing

$space-1: 8px;
$space-2: 16px;
$space-3: 24px;
$space-4: 32px;
$space-5: 40px;
$space-6: 48px;
$space-7: 64px;
$space-8: 80px;
$space-9: 96px;