//Breakpoints
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;

// Colors
$color-lightest: #FFFBF4;
$color-light: #BAA685;
$color-medium: #795233;
$color-dark: #514539;
$color-pink: #FF6FC2;
$color-green: #97A828;

//Font Family
$primary-font: 'Merriweather', serif;
$secondary-font: 'Lora', serif;