body {
	font-family: $secondary-font;
	background: $color-lightest;
	font-size: $body-font-size;
}

.visually-hidden {
	transform: translateY(-100%);
  transition: transform 0.3s;
	position:absolute;

	&:focus {
		transform: translateY(0);
	}
}

section {
	margin-top: $space-6;
}

.container {

	width: calc(100% - 40px);
	margin: 0 auto;
	max-width: 1330px;

	@include breakpoint(md) {
		width: calc(100% - 120px);
	}

	@include breakpoint(lg) {
		width: calc(100% - 180px);
	}
}

.site {
	position: relative;

	@include breakpoint(md) {
		top: 21px;
	}
}

.header {
	background: $color-dark;
	height: 48px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 100;

	&__inner {
		display: flex;
		align-items: center;
		height: 100%;
	}
}

.logo {
	color: $color-lightest;
	font-family: $primary-font;
	font-weight: 900;
	position: relative;
	text-decoration: none;

	span {
		font-family: $secondary-font;
		font-weight: 400;
	}
}

#wpadminbar {

	display: none;

	@include breakpoint(md) {
		display: block;
	}
}

#wpadminbar + .header {
	@include breakpoint(md) {
		top: 32px;
	}
}

footer {
	margin-top: $space-8;
	width: 100%;
	background: $color-dark;
	padding: $space-4 0;
}

a {
	color: $color-pink;
	font-weight: 700;
}

p {
	margin-bottom: $space-3;
}

h1 {
	font-family: $primary-font;
	font-size: $h1-font-size;
	line-height: $h1-font-size;
	letter-spacing: $h1-letter-spacing;
	margin-top: 0;
	margin-bottom: $space-5;
}

h2 {
	margin-top: $space-7;
	margin-bottom: $space-5;
	font-size: $h2-font-size;
}

h3 {
	font-size: $h3-font-size;
	margin-bottom: $space-2;
}

blockquote {
	margin: $space-3 0;
	padding-left: $space-2;
	border-left: 4px solid $color-green;
	margin-left: $space-2;

	@include breakpoint(md) {
		margin-left: $space-8;
	}
}

cite {
	font-family: $secondary-font;
	font-weight: 400;
	color: $color-green;
}

.left-column {
	max-width: 881px;
}

.blog-featured-image {
	max-height: 400px;
	left: 50%;
	margin-left: -50vw;
	margin-right: -50vw;
	max-width: 100vw;
	position: relative;
	right: 50%;
	width: 100vw;
	object-fit: cover;
}

.subtitle {

	color: $color-green;
	font-size: $subtitle-font-size;
	margin-bottom: $space-1;

}

.blog-post-columns {

	display: flex;
	flex-direction: column;
	grid-gap: $space-7;
	margin-top: $space-5;
	
	@include breakpoint(md) {
		margin-top: $space-8;
	}

	@include breakpoint(lg) {
		flex-direction: row;
	}
}

.related-post {

	display: flex;
	flex-direction: column;
	grid-gap: $space-3;
	color: $color-dark;
	text-decoration: none;
	font-weight: 400;
	margin-bottom: $space-3;

	@include breakpoint(md) {
		flex-direction: row;
		margin-bottom: 0;
	}

	&:hover {
		color: $color-pink;
	
		.subtitle {
			color: $color-pink;
		}
	
	}

	.subtitle {
		margin-top: 0;
		margin-bottom: -6px;
		font-size: $body-font-size;
	}

	&__image {
		height: 136px;
		object-fit: cover;

		@include breakpoint(md) {
			margin-bottom: $space-5;
			width: 205px;
		}

		&--none {
			background: $color-dark;
			display: flex;
			justify-content: center;
			align-items: center;
			color: $color-light;
			width: 100%;

			@include breakpoint(md) {
				max-width: 205px;
			}
		}
	}
}

.front-page {

	h1, h2 {
		margin-bottom: 0;
	}

	h2 {
		margin-top: -10px;
	}

	h1, > .subtitle {
		text-align: center;
	}

	p {
		max-width: 654px;
		font-weight: 400;
	}

	&-post {
		display: flex;
		flex-direction: column;
		color: $color-dark;
		text-decoration: none;

		&:hover {
			color: $color-pink;

			.subtitle {
				color: $color-pink;
			}
		}
	
		&__image {
			width: 100%;
			aspect-ratio: 3 / 2;
			max-height: 286px;
			margin-bottom: $space-3;
			object-fit: cover;

			&--none {
				background: $color-dark;
				display: flex;
				justify-content: center;
				align-items: center;
				color: $color-light;
				width: 100%;
			}
		}

		.subtitle {
			margin-bottom: -6px;
			font-size: $body-font-size;
		}
	
	}

	&-main-post {
		margin-top: $space-5;
		color: $color-dark;
		text-decoration: none;

		&:hover {
			color: $color-pink;

			.subtitle {
				color: $color-pink;
			}
		}
	
		&__image {
			max-height: 381px;
			width: 100%;
			object-fit: cover;
			margin-bottom: $space-3;
		
		}
	
	}

	&__logo {
		&--span {
			font-family: $secondary-font;
			font-weight: 400;
		}
	}
}

.post-grid-3 {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: $space-3;
	margin-top: $space-7;

	h3 {
		margin-bottom: 0;
	}

}