.block-tabs{
	max-width: 1330px; // Casio CSS - Container Width
	margin-left: auto;
	margin-right: auto;
	width: calc(100% - 75px); // Casio CSS - Horizontal edge

	&__nav{
		display: flex;
		align-items: flex-end;
		list-style: none !important;
		padding: 0px !important;
		margin-bottom: 20px;
		border-bottom: 1px solid gainsboro;
	}

	&__nav-item{
		color: #333; // Casio CSS - Dark Grey
		cursor: pointer;
		font-size: 15px; //design value checked
		margin-right: 20px;
		padding-bottom: 20px;
		position: relative;

		&:before {
			display: block;
			content: attr(data-title);
			font-weight: bold;
			height: 0;
			overflow: hidden;
			visibility: hidden;
		}

		&.active{
			color: $color-blue;
			font-weight: 600;

			&:after{//Underline bar
				background: $color-blue;
				bottom: 0px;
				content: "";
				display: block;
				height: 3px;
				position: absolute;
				width: 100%;
			}
		}
	}
}


.block-tab{
	display: none;
	opacity: 0.25;

	&[data-tab-visible="true"]{
		display: block;
		opacity: 1;
	}

	&__content{

		padding-left: 30px;

		.full-width &{
			padding-left: 0px;
		}
	}
}

